<div class="col-sm-12 col-md-12">
    <h1>
        <span>Resource Servers</span>
        <kc-tooltip>Resource Servers are applications serving resources to their users. These resources can be a RESTFul API, web pages or any other kind of resource that must be managed and protected by a set of authorization policies.</kc-tooltip>
    </h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="kc-table-actions" colspan="5">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Search..." data-ng-model="search.clientId" class="form-control search" onkeyup="if(event.keyCode == 13){$(this).next('I').click();}">
                                <div class="input-group-addon">
                                    <i class="fa fa-search" type="submit"></i>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <a id="createServer" class="btn btn-default" href="#/realms/{{realm.realm}}/authz/resource-server/create">Create</a>
                        </div>
                    </div>
                </th>
            </tr>
            <tr data-ng-hide="servers.length == 0">
                <th>Name</th>
                <th>Policy Enforcement Mode</th>
                <th>Allows Remote Resource Management ?</th>
                <th>Allows Entitlement ?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="server in servers | filter:search | orderBy:'clientId'">
                <td><a href="#/realms/{{realm.realm}}/authz/resource-server/{{server.id}}">{{server.name}}</a></td>
                <td>{{server.policyEnforcementMode | toCamelCase}}</td>
                <td>{{server.allowRemoteResourceManagement}}</td>
                <td>{{server.allowEntitlements}}</td>
            </tr>
            <tr data-ng-show="(servers | filter:search).length == 0">
                <td class="text-muted" colspan="3" data-ng-show="search.clientId">No results</td>
                <td class="text-muted" colspan="3" data-ng-hide="search.clientId">No servers available</td>
            </tr>
        </tbody>
    </table>
</div>

<kc-menu></kc-menu>