<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}">{{client.clientId}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server">{{:: 'authz-authorization' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server">{{:: 'export-settings' | translate}}</a></li>
    </ol>

    <kc-tabs-resource-server></kc-tabs-resource-server>

    <form class="form-horizontal" name="exportForm" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label">{{:: 'authz-export-settings' | translate}}</label>
                <div class="col-md-6">
                    <button data-ng-click="export()" class="btn btn-primary" data-ng-hide="settings">{{:: 'export' | translate}}</button>
                    <button data-ng-click="downloadSettings()" class="btn btn-primary" data-ng-show="settings">{{:: 'download' | translate}}</button>
                    <button data-ng-click="cancelExport()" class="btn btn-primary" data-ng-show="settings">{{:: 'cancel' | translate}}</button>
                </div>
                <kc-tooltip>{{:: 'authz-export-settings.tooltip' | translate}}</kc-tooltip>
            </div>
            <fieldset class="margin-top">
                <div class="form-group" ng-show="settings">
                    <div class="col-sm-12">
                        <a class="btn btn-primary btn-lg" data-ng-click="download()" type="submit" ng-show="installation">{{:: 'download' | translate}}</a>
                        <textarea class="form-control" rows="20" kc-select-action="click">{{settings}}</textarea>
                    </div>
                </div>
            </fieldset>
        </fieldset>
    </form>
</div>

<kc-menu></kc-menu>