#kc-logo-wrapper {
    background-image: url("../img/icon-RNBack.svg");
    background-repeat: no-repeat;
    background-size: 150px;
    height: 150px;
    width: 150px;
}

.login-pf body {
    background: #2A3F54;
}
