<div class="col-sm-12 col-md-12">
    <h1>{{:: 'authentication' | translate}}</h1>

    <kc-tabs-authentication></kc-tabs-authentication>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group">
            <label for="browser" class="col-md-2 control-label">{{:: 'browser-flow' | translate}}</label>
            <div class="col-md-2">
                <div>
                    <select id="browser" ng-model="realm.browserFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in flows">
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'browser-flow.tooltip' | translate}}</kc-tooltip>
        </div>
        <div class="form-group">
            <label for="registration" class="col-md-2 control-label">{{:: 'registration-flow' | translate}}</label>
            <div class="col-md-2">
                <div>
                    <select id="registration" ng-model="realm.registrationFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in flows">
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'registration-flow.tooltip' | translate}}</kc-tooltip>
        </div>
        <div class="form-group">
            <label for="grant" class="col-md-2 control-label">{{:: 'direct-grant-flow' | translate}}</label>
            <div class="col-md-2">
                <div>
                    <select id="grant" ng-model="realm.directGrantFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in flows">
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'direct-grant-flow.tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group">
            <label for="resetCredentials" class="col-md-2 control-label">{{:: 'reset-credentials' | translate}}</label>
            <div class="col-md-2">
                <div>
                    <select id="resetCredentials" ng-model="realm.resetCredentialsFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in flows">
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'reset-credentials.tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group">
            <label for="clientAuthentication" class="col-md-2 control-label">{{:: 'client-authentication' | translate}}</label>
            <div class="col-md-2">
                <div>
                    <select id="clientAuthentication" ng-model="realm.clientAuthenticationFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in clientFlows">
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'client-authentication.tooltip' | translate}}</kc-tooltip>
        </div>


        <div class="form-group" data-ng-show="serverInfo.featureEnabled('DOCKER')">
            <label for="dockerAuth" class="col-md-2 control-label">{{:: 'docker-auth' | translate}}</label>
            <div class="col-md-2">
                <div>
                    <select id="dockerAuth" ng-model="realm.dockerAuthenticationFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in flows">
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'docker-auth.tooltip' | translate}}</kc-tooltip>
        </div>

        <div class="form-group" data-ng-show="access.manageRealm">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>

</div>


<kc-menu></kc-menu>