<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/authentication/flows">{{:: 'authentication-flows' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/authentication/flows/{{flow.alias}}">{{flow.alias | capitalize}}</a></li>
        <li class="active" data-ng-show="create">{{:: 'create-authenticator-config' | translate}}</li>
        <li class="active" data-ng-hide="create">{{config.alias}}</li>
    </ol>

    <h1 data-ng-show="create">{{:: 'create-authenticator-config' | translate}}</h1>
    <h1 data-ng-hide="create">{{config.alias|capitalize}}<a><i class="pficon pficon-delete clickable" data-ng-show="!create && access.manageRealm"
    	data-ng-hide="changed" data-ng-click="remove()"></i></a></h1>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <input type="text" readonly value="this is not a login form" style="display: none;">
        <input type="password" readonly value="this is not a login form" style="display: none;">

        <fieldset>
            <div class="form-group clearfix" data-ng-show="!create">
                <label class="col-md-2 control-label" for="configId">{{:: 'id' | translate}} </label>
                <div class="col-md-6">
                    <input class="form-control" id="configId" type="text" ng-model="config.id" readonly>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="name">{{:: 'alias' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="name" type="text" ng-model="config.alias" data-ng-readonly="!create">
                </div>
                <kc-tooltip>{{:: 'authenticator.alias.tooltip' | translate}}</kc-tooltip>
            </div>
            <kc-provider-config realm="realm" config="config.config" properties="configType.properties"></kc-provider-config>
        </fieldset>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="create && access.manageRealm">
                <button kc-save>{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="!create && access.manageRealm">
                <button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>