<!--
  ~ Copyright 2016 Red Hat, Inc. and/or its affiliates
  ~ and other contributors as indicated by the @author tags.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/client-registration/client-reg-policies">{{:: 'client-reg-policies' | translate}}</a></li>
        <li>{{instance.name}}</li>
    </ol>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageClients ">
        <fieldset>
            <legend><span class="text">{{instance.name}}</span></legend><kc-tooltip>{{:: providerType.helpText | translate}}</kc-tooltip>
            <div class="form-group clearfix" data-ng-show="!create">
                <label class="col-md-2 control-label" for="instanceId">{{:: 'id' | translate}} </label>
                <div class="col-md-6">
                    <input class="form-control" id="instanceId" type="text" ng-model="instance.id" readonly>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="name">{{:: 'name' | translate}} <span class="required">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" id="name" type="text" ng-model="instance.name" required>
                </div>
                <kc-tooltip>{{:: 'client-reg-policy.name.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="policyType">{{:: 'provider' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="policyType" type="text" ng-model="providerType.id" data-ng-readonly="true">
                </div>
                <kc-tooltip>{{providerType.helpText}}</kc-tooltip>
            </div>
            <kc-component-config config="instance.config" properties="providerType.properties" realm="realm"></kc-component-config>
        </fieldset>

        <div class="form-group" data-ng-show="create && access.manageClients">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save>{{:: 'save' | translate}}</button>
                <button kc-reset>{{:: 'cancel' | translate}}</button>
            </div>
        </div>

        <div class="form-group" data-ng-show="!create && access.manageClients">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>

</div>

<kc-menu></kc-menu>