<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li>{{client.clientId}}</li>
    </ol>

    <kc-tabs-client></kc-tabs-client>

    <form class="form-horizontal" name="clientForm" novalidate kc-read-only="!client.access.configure">
        <fieldset class="border-top">
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="clientAuthenticatorType"> {{:: 'client-authenticator' | translate}}</label>
                <div class="col-md-2">
                    <div>
                        <select class="form-control" id="clientAuthenticatorType"
                                ng-model="client.clientAuthenticatorType"
                                ng-options="authenticator.id as authenticator.displayName for authenticator in clientAuthenticatorProviders"
                                required>
                        </select>
                    </div>
                </div>
                <kc-tooltip>{{:: 'client-authenticator.tooltip' | translate}}</kc-tooltip>
            </div>
        </fieldset>
    </form>

    <div data-ng-include="resourceUrl + '/partials/' + clientAuthenticatorConfigPartial">
    </div>

    <hr/>

    <div data-ng-include="resourceUrl + '/partials/client-registration-access-token.html'">
    </div>

</div>

<kc-menu></kc-menu>
