<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li>{{:: 'import-client' | translate}}</li>
    </ol>

    <h1>{{:: 'import-client' | translate}}</h1>

    <form class="form-horizontal" name="realmForm" novalidate>
        <fieldset class="border-top">
            <div class="form-group input-select">
                <label class="col-md-2 control-label" for="configFormats">{{:: 'format-option' | translate}}</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <div>
                            <select class="form-control" id="configFormats" name="configFormats" ng-model="configFormat" ng-options="format.name for format in configFormats">
                                <option value="" selected> {{:: 'select-format' | translate}} </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">{{:: 'import-file' | translate}} </label>
                <div class="col-md-6">
                    <div class="controls kc-button-input-file" data-ng-show="!files || files.length == 0">
                        <label for="import-file" class="btn btn-default">{{:: 'select-file' | translate}} <i class="pficon pficon-import"></i></label>
                        <input id="import-file" type="file" class="hidden" ng-file-select="onFileSelect($files)">
                    </div>
                    <span class="kc-uploaded-file" data-ng-show="files.length > 0">
                        {{files[0].name}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2" data-ng-show="files.length > 0">
                    <button type="submit" data-ng-click="uploadFile()" class="btn btn-primary">{{:: 'import' | translate}}</button>
                    <button type="submit" data-ng-click="clearFileSelect()" class="btn btn-default">{{:: 'cancel' | translate}}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<kc-menu></kc-menu>