<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li>{{client.clientId}}</li>
    </ol>

    <kc-tabs-client></kc-tabs-client>

    <form class="form-horizontal" name="keyForm" novalidate kc-read-only="!client.access.configure">
        <fieldset class="form-group col-sm-10" data-ng-show="client.attributes['saml.client.signature'] == 'true'">
            <legend uncollapsed><span class="text">{{:: 'signing-key' | translate}}</span>  <kc-tooltip>{{:: 'saml-signing-key' | translate}}</kc-tooltip></legend>
            <div class="form-group" data-ng-hide="!signingKeyInfo.privateKey">
                <label class="col-md-2 control-label" for="signingPrivateKey">{{:: 'private-key' | translate}}</label>

                <div class="col-sm-10">
                    <textarea type="text" id="signingPrivateKey" name="signingPrivateKey" class="form-control" rows="5"
                              kc-select-action="click" readonly>{{signingKeyInfo.privateKey}}</textarea>
                </div>
            </div>
            <div class="form-group" data-ng-hide="!signingKeyInfo.certificate">
                <label class="col-md-2 control-label" for="signingCert">{{:: 'certificate' | translate}}</label>

                <div class="col-sm-10">
                    <textarea type="text" id="signingCert" name="signingCert" class="form-control" rows="5"
                              kc-select-action="click" readonly>{{signingKeyInfo.certificate}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2" data-ng-show="client.access.configure">
                    <button class="btn btn-default" type="submit" data-ng-click="generateSigningKey()">{{:: 'generate-new-keys' | translate}}</button>
                    <button class="btn btn-default" type="submit" data-ng-click="importSigningKey()">{{:: 'import' | translate}}</button>
                    <button class="btn btn-default" type="submit" data-ng-hide="!signingKeyInfo.certificate" data-ng-click="exportSigningKey()">{{:: 'export' | translate}}</button>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-10" data-ng-show="client.attributes['saml.encrypt'] == 'true'">
            <legend uncollapsed><span class="text">{{:: 'encryption-key' | translate}}</span>  <kc-tooltip>{{:: 'saml-encryption-key.tooltip' | translate}}</kc-tooltip></legend>
            <div class="form-group" data-ng-hide="!encryptionKeyInfo.privateKey">
                <label class="col-md-2 control-label" for="encryptionPrivateKey">{{:: 'private-key' | translate}}</label>

                <div class="col-sm-10">
                    <textarea type="text" id="encryptionPrivateKey" name="encryptionPrivateKey" class="form-control" rows="5"
                              kc-select-action="click" readonly>{{encryptionKeyInfo.privateKey}}</textarea>
                </div>
            </div>
            <div class="form-group" data-ng-hide="!encryptionKeyInfo.certificate">
                <label class="col-md-2 control-label" for="encryptionCert">{{:: 'certificate' | translate}}</label>

                <div class="col-sm-10">
                    <textarea type="text" id="encryptionCert" name="encryptionCert" class="form-control" rows="5"
                              kc-select-action="click" readonly>{{encryptionKeyInfo.certificate}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2" data-ng-show="client.access.configure">
                    <button class="btn btn-default" type="submit" data-ng-click="generateEncryptionKey()">{{:: 'generate-new-keys' | translate}}</button>
                    <button class="btn btn-default" type="submit" data-ng-click="importEncryptionKey()">{{:: 'import' | translate}}</button>
                    <button class="btn btn-default" type="submit" data-ng-hide="!encryptionKeyInfo.certificate" data-ng-click="exportEncryptionKey()">{{:: 'export' | translate}}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<kc-menu></kc-menu>