<!--
  ~ Copyright 2016 Red Hat, Inc. and/or its affiliates
  ~ and other contributors as indicated by the @author tags.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="col-sm-12 col-md-12">
    <kc-tabs-realm></kc-tabs-realm>

    <ul class="nav nav-tabs nav-tabs-pf">
        <li><a href="#/realms/{{realm.realm}}/client-registration/client-initial-access">{{:: 'initial-access-tokens' | translate}}</a></li>
        <li class="active"><a href="#/realms/{{realm.realm}}/client-registration/client-reg-policies">{{:: 'client-reg-policies' | translate}}</a></li>
    </ul>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">

        <fieldset>
            <legend><span class="text">{{:: 'anonymous-policies' | translate}}</span></legend><kc-tooltip>{{:: 'anonymous-policies.tooltip' | translate}}</kc-tooltip>
            <table class="table table-striped table-bordered">
                <thead>
                <tr ng-show="providers.length > 0 && access.manageClients">
                    <th colspan="5" class="kc-table-actions">
                        <div class="pull-right">
                            <div>
                                <select class="form-control" ng-model="selectedProvider"
                                        ng-options="p.id for p in providers"
                                        data-ng-change="addProvider('anonymous', selectedProvider); selectedProvider = null">
                                    <option value="" disabled selected>{{:: 'add-provider.placeholder' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr data-ng-show="anonPolicies && anonPolicies.length > 0">
                    <th>{{:: 'policy-name' | translate}}</th>
                    <th>{{:: 'provider-id' | translate}}</th>
                    <th colspan="2">{{:: 'actions' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instance in anonPolicies">
                    <td><a href="#{{getInstanceLink(instance)}}">{{instance.name}}</a></td>
                    <td>{{instance.providerId}}</td>
                    <td class="kc-action-cell" kc-open="{{getInstanceLink(instance)}}">{{:: 'edit' | translate}}</td>
                    <td class="kc-action-cell" data-ng-click="removeInstance(instance)">{{:: 'delete' | translate}}</td>
                </tr>
                <tr data-ng-show="!anonPolicies || anonPolicies.length == 0">
                    <td class="text-muted">{{:: 'no-client-reg-policies-configured' | translate}}</td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend><span class="text">{{:: 'auth-policies' | translate}}</span></legend><kc-tooltip>{{:: 'auth-policies.tooltip' | translate}}</kc-tooltip>
            <table class="table table-striped table-bordered">
                <thead>
                <tr ng-show="providers.length > 0 && access.manageClients">
                    <th colspan="5" class="kc-table-actions">
                        <div class="pull-right">
                            <div>
                                <select class="form-control" ng-model="selectedProvider"
                                        ng-options="p.id for p in providers"
                                        data-ng-change="addProvider('authenticated', selectedProvider); selectedProvider = null">
                                    <option value="" disabled selected>{{:: 'add-provider.placeholder' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr data-ng-show="authPolicies && authPolicies.length > 0">
                    <th>{{:: 'policy-name' | translate}}</th>
                    <th>{{:: 'provider-id' | translate}}</th>
                    <th colspan="2">{{:: 'actions' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instance in authPolicies">
                    <td><a href="#{{getInstanceLink(instance)}}">{{instance.name}}</a></td>
                    <td>{{instance.providerId}}</td>
                    <td class="kc-action-cell" kc-open="{{getInstanceLink(instance)}}">{{:: 'edit' | translate}}</td>
                    <td class="kc-action-cell" data-ng-click="removeInstance(instance)">{{:: 'delete' | translate}}</td>
                </tr>
                <tr data-ng-show="!authPolicies || authPolicies.length == 0">
                    <td class="text-muted">{{:: 'no-client-reg-policies-configured' | translate}}</td>
                </tr>
                </tbody>
            </table>
        </fieldset>


    </form>
</div>

<kc-menu></kc-menu>