<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li>{{client.clientId}}</li>
    </ol>

    <kc-tabs-client></kc-tabs-client>

    <form class="form" name="realmForm" novalidate>
        <fieldset>
            <div class="form-group input-select">
                <label class="col-md-1 control-label" for="configFormats">{{:: 'format-option' | translate}}</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <div>
                            <select class="form-control" id="configFormats" name="configFormats" ng-change="changeFormat()" ng-model="configFormat" ng-options="a.displayType for a in configFormats">
                                <option value="" selected> {{:: 'select-a-format' | translate}} </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="margin-top">
            <div class="form-group" ng-show="installation">
                <div class="col-sm-12">
                    <a class="btn btn-primary btn-lg" data-ng-click="download()" type="submit" ng-show="installation">{{:: 'download' | translate}}</a>
                    <textarea class="form-control" rows="20" kc-select-action="click" data-ng-hide="configFormat.downloadOnly">{{installation}}</textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<kc-menu></kc-menu>
