<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{model.realm.realm}}/client-templates">{{:: 'client-templates' | translate}}</a></li>
        <li><a href="#/realms/{{model.realm.realm}}/client-templates/{{model.template.id}}">{{model.template.name}}</a></li>
        <li><a href="#/realms/{{model.realm.realm}}/client-templates/{{model.template.id}}/mappers">{{:: 'mappers' | translate}}</a></li>
        <li class="active" data-ng-show="model.create">{{:: 'create-protocol-mappers' | translate}}</li>
        <li class="active" data-ng-hide="model.create">{{model.mapper.name}}</li>
    </ol>
    <div ng-include="resourceUrl + '/partials/protocol-mapper-detail.html'"/>
</div>

<kc-menu></kc-menu>