<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/client-templates">{{:: 'client-templates' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/client-templates/{{template.id}}">{{template.name}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/client-templates/{{template.id}}/mappers">{{:: 'mappers' | translate}}</a></li>
        <li class="active">{{:: 'add-builtin-protocol-mappers' | translate}}</li>
    </ol>

    <h1>{{:: 'add-builtin-protocol-mapper' | translate}}</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="kc-table-actions" colspan="4">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="{{:: 'search.placeholder' | translate}}" data-ng-model="search.name" class="form-control search" onkeyup="if(event.keyCode == 13){$(this).next('I').click();}">
                            <div class="input-group-addon">
                                <i class="fa fa-search" type="submit"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr data-ng-hide="mappers.length == 0">
            <th>{{:: 'name' | translate}}</th>
            <th>{{:: 'category' | translate}}</th>
            <th>{{:: 'type' | translate}}</th>
            <th>{{:: 'add' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mapper in mappers | filter:search">
            <td>{{mapper.name}}</td>
            <td>{{mapperTypes[mapper.protocolMapper].category}}</td>
            <td>{{mapperTypes[mapper.protocolMapper].name}}</td>
            <td><input type="checkbox" ng-model="mapper.isChecked" id="{{mapper.protocolMapper}}"></td>
        </tr>
        <tr data-ng-show="mappers.length == 0">
            <td>{{:: 'no-mappers-available' | translate}}</td>
        </tr>
        </tbody>
    </table>

    <div data-ng-show="access.manageRealm">
        <button class="btn btn-primary" data-ng-click="add()">{{:: 'add-selected' | translate}}</button>
    </div>
</div>

<kc-menu></kc-menu>