<div class="col-sm-12 col-md-12">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}">{{client.clientId}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/saml/keys">{{:: 'saml-keys' | translate}}</a></li>
        <li class="active">SAML {{keyType}} {{:: 'key-export' | translate}}</li>
    </ol>

    <h1>{{:: 'export-saml-key' | translate}} {{client.clientId|capitalize}}</h1>

    <form class="form-horizontal" name="keyForm" novalidate kc-read-only="!client.access.configure">
        <input type="text" readonly value="this is not a login form" style="display: none;">
        <input type="password" readonly value="this is not a login form" style="display: none;">

        <fieldset class="form-group col-sm-10">
            <div class="form-group">
                <label class="col-md-2 control-label" for="downloadKeyFormat">{{:: 'archive-format' | translate}}</label>
                <div class="col-sm-6">
                    <div>
                        <select class="form-control" id="downloadKeyFormat"
                                ng-model="jks.format"
                                ng-options="f for f in keyFormats">
                        </select>
                    </div>
                </div>
                <kc-tooltip>{{:: 'archive-format.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="keyAlias">{{:: 'key-alias' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="keyAlias" name="keyAlias" data-ng-model="jks.keyAlias" autofocus required>
                </div>
                <kc-tooltip>{{:: 'key-alias.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group" data-ng-hide="!keyInfo.privateKey">
                <label class="col-md-2 control-label" for="keyPassword">{{:: 'key-password' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" id="keyPassword" name="keyPassword" data-ng-model="jks.keyPassword" autofocus required>
                </div>
                <kc-tooltip>{{:: 'key-password.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="realmAlias">{{:: 'realm-certificate-alias' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="realmAlias" name="realmAlias" data-ng-model="jks.realmAlias" autofocus required>
                </div>
                <kc-tooltip>{{:: 'realm-certificate-alias.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="storePassword">{{:: 'store-password' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" id="storePassword" name="storePassword" data-ng-model="jks.storePassword" autofocus required>
                </div>
                <kc-tooltip>{{:: 'store-password.tooltip' | translate}}</kc-tooltip>
           </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2" data-ng-show="client.access.configure">
                    <button class="btn btn-primary" type="submit" data-ng-click="download()">{{:: 'download' | translate}}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<kc-menu></kc-menu>