<div class="col-sm-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}">{{client.clientId}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/clustering">{{:: 'cluster-nodes' | translate}}</a></li>
        <li data-ng-show="create">{{:: 'add-node' | translate}}</li>
        <li data-ng-hide="create">{{node.host|capitalize}}</li>
    </ol>

    <h1 data-ng-show="create">{{:: 'add-node' | translate}}</h1>
    <h1 data-ng-hide="create">
        {{node.host|capitalize}}
        <i id="removeClient" class="pficon pficon-delete clickable" data-ng-show="client.access.configure" data-ng-click="unregisterNode()"></i>
    </h1>

    <form class="form-horizontal" name="clusteringForm" novalidate kc-read-only="!client.access.configure" data-ng-show="create || registered">
        <div class="form-group">
            <label class="col-md-2 control-label" for="host">{{:: 'host' | translate}}</label>
            <div class="col-sm-6">
                <input ng-disabled="!create" class="form-control" type="text" id="host" name="host" data-ng-model="node.host" required>
            </div>
        </div>
        <div ng-hide="create" class="form-group">
            <label class="col-md-2 control-label" for="lastRegistration">{{:: 'last-registration' | translate}}</label>
            <div class="col-sm-6">
                {{node.lastRegistration}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="client.access.configure">
                <button data-kc-save data-ng-show="create">{{:: 'save' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>