<div class="col-sm-12 col-md-12">
    <div>
        <h1>{{:: 'create-group' | translate}}</h1>
    </div>
    <form class="form-horizontal" name="clientForm" novalidate>
        <fieldset class="border-top">
            <div class="form-group">
                <label class="col-md-2 control-label"for="name">{{:: 'name' | translate}} <span class="required">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="name" name="name" data-ng-model="group.name" autofocus
                           required >
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save>{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>