<div class="col-sm-12 col-md-12">
    <h1>{{:: 'create-execution-flow' | translate}}</h1>

    <kc-tabs-authentication></kc-tabs-authentication>

    <form class="form-horizontal" name="clientForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group">
            <label class="col-md-2 control-label" for="alias">{{:: 'alias' | translate}} </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="alias" name="alias" data-ng-model="flow.alias" autofocus required>
            </div>
            <kc-tooltip>{{:: 'flow.alias.tooltip' | translate}}</kc-tooltip>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="description">{{:: 'description' | translate}} </label>

            <div class="col-md-6">
                <textarea class="form-control" rows="5" cols="50" id="description" name="description" data-ng-model="flow.description"></textarea>
            </div>
        </div>
        <div class="form-group" data-ng-hide="flow.type == 'client-flow'">
            <label class="col-md-2 control-label" for="flowType">{{:: 'flow-type' | translate}}</label>
            <div class="col-sm-6">
                <div>
                    <select class="form-control" id="flowType"
                            ng-model="flow.type">
                        <option value="basic-flow">{{:: 'flow.generic.type' | translate}}</option>
                        <option value="form-flow">{{:: 'flow.form.type' | translate}}</option>
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'flow-type.tooltip' | translate}}</kc-tooltip>
        </div>
        <div class="form-group" data-ng-show="flow.type == 'form-flow'">
            <label class="col-md-2 control-label" for="provider">{{:: 'form-provider' | translate}}</label>
            <div class="col-sm-6">
                <div>
                    <select class="form-control" id="provider"
                            ng-model="provider"
                            ng-options="provider.id for provider in formProviders">
                    </select>
                </div>
            </div>
            <kc-tooltip>{{provider.description}}</kc-tooltip>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save>{{:: 'save' | translate}}</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>