<div class="col-sm-12 col-md-12">

    <div>
        <h1 data-ng-show="parentFlow.providerId == 'basic-flow'">{{:: 'create-authenticator-execution' | translate}}</h1>
        <h1 data-ng-show="parentFlow.providerId == 'client-flow'">{{:: 'create-authenticator-execution' | translate}}</h1>
        <h1 data-ng-show="parentFlow.providerId == 'for-flow'">{{:: 'create-form-action-execution' | translate}}</h1>
    </div>
    <kc-tabs-authentication></kc-tabs-authentication>
    <form class="form-horizontal" name="clientForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group">
            <label class="col-md-2 control-label" for="provider">{{:: 'provider' | translate}}</label>
            <div class="col-sm-6">
                <div>
                    <select class="form-control" id="provider"
                            ng-model="provider"
                            ng-options="provider.displayName|capitalize for provider in providers">
                    </select>
                </div>
            </div>
            <kc-tooltip>{{provider.description}}</kc-tooltip>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save>{{:: 'save' | translate}}</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>