<div class="col-sm-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/identity-provider-settings">{{:: 'identity-providers' | translate}}</a></li>
        <li ng-show="identityProvider.diaplayName"><a href="#/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}">{{identityProvider.displayName}}</a></li>
        <li ng-show="!identityProvider.diaplayName"><a href="#/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}">{{identityProvider.alias}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/identity-provider-mappers/{{identityProvider.alias}}/mappers">{{:: 'identity-provider-mappers' | translate}}</a></li>
        <li class="active" data-ng-show="create">{{:: 'create-identity-provider-mapper' | translate}}</li>
        <li class="active" data-ng-hide="create">{{mapper.name|capitalize}}</li>
    </ol>

    <h1 data-ng-hide="create">{{mapper.name|capitalize}}<i class="pficon pficon-delete clickable" data-ng-show="!create && access.manageIdentityProviders"
    	data-ng-hide="changed" data-ng-click="remove()"></i></h1>
    <h1 data-ng-show="create">{{:: 'add-identity-provider-mapper' | translate}}</h1>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageIdentityProviders">
        <fieldset>
            <div class="form-group clearfix" data-ng-show="!create">
                <label class="col-md-2 control-label" for="mapperId">{{:: 'id' | translate}} </label>
                <div class="col-md-6">
                    <input class="form-control" id="mapperId" type="text" ng-model="mapper.id" readonly>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="name">{{:: 'name' | translate}} <span class="required">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" id="name" type="text" ng-model="mapper.name" data-ng-readonly="!create" required>
                </div>
                <kc-tooltip>{{:: 'mapper.name.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group" data-ng-show="create">
                <label class="col-md-2 control-label" for="mapperTypeCreate">{{:: 'mapper-type' | translate}}</label>
                <div class="col-sm-6">
                    <div>
                        <select class="form-control" id="mapperTypeCreate"
                                ng-model="mapperType"
                                ng-options="mapperType.name for (mapperKey, mapperType) in mapperTypes">
                        </select>
                    </div>
                </div>
                <kc-tooltip>{{mapperType.helpText}}</kc-tooltip>
            </div>
            <div class="form-group clearfix" data-ng-hide="create">
                <label class="col-md-2 control-label" for="mapperType">{{:: 'mapper-type' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="mapperType" type="text" ng-model="mapperType.name" data-ng-readonly="true">
                </div>
                <kc-tooltip>{{mapperType.helpText}}</kc-tooltip>
            </div>
            <kc-provider-config config="mapper.config" properties="mapperType.properties" realm="realm"></kc-provider-config>
        </fieldset>

        <div class="form-group" data-ng-show="create && access.manageIdentityProviders">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save>{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>

        <div class="form-group" data-ng-show="!create && access.manageIdentityProviders">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>