<div class="col-sm-12 col-md-12">

    <h1>{{:: 'realms' | translate}}</h1>

    <table class="datatable table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{:: 'realm' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="r in realms">
                <td><a href="#/realms/{{r.realm}}">{{r.realm}}</a></td>
            </tr>
        </tbody>
    </table>
</div>


<kc-menu></kc-menu>