<div class="col-sm-12 col-md-12">

    <h1>{{:: 'add-realm' | translate}}</h1>

    <form class="form-horizontal" name="realmForm" novalidate>
        <fieldset>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">{{:: 'import' | translate}}</label>

                <div class="col-md-6" data-ng-hide="importing">
                    <label for="import-file" class="btn btn-default">{{:: 'select-file' | translate}} <i class="pficon pficon-import"></i></label>
                    <input id="import-file" type="file" class="hidden" kc-on-read-file="importFile($fileContent)">
                </div>

                <div class="col-md-6" data-ng-show="importing">
                    <input type="button" class="btn btn-default" data-ng-click="viewImportDetails()" value="{{:: 'view-details' | translate}}"/>
                    <input type="button" class="btn btn-default" data-ng-click="reset()" value="{{:: 'clear-import' | translate}}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">{{:: 'name' | translate}} <span class="required">*</span></label>

                <div class="col-md-6">
                    <input class="form-control" type="text" id="name" name="name" data-ng-model="realm.realm" autofocusrequired>
                </div>
            </div>
            <div class="form-group">
                <label for="enabled" class="col-sm-2 control-label">{{:: 'enabled' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="realm.enabled" name="enabled" id="enabled" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}"/>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save data-ng-disabled="!changed">{{:: 'create' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>