<!--
  ~ Copyright 2016 Red Hat, Inc. and/or its affiliates
  ~ and other contributors as indicated by the @author tags.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="col-sm-12 col-md-12">
    <kc-tabs-realm></kc-tabs-realm>

    <ul class="nav nav-tabs nav-tabs-pf">
        <li><a href="#/realms/{{realm.realm}}/keys">{{:: 'active' | translate}}</a></li>
        <li class="active"><a href="#/realms/{{realm.realm}}/keys/list">{{:: 'all' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/keys/providers">{{:: 'providers' | translate}}</a></li>
    </ul>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{:: 'type' | translate}}</th>
            <th>{{:: 'status' | translate}}</th>
            <th>{{:: 'kid' | translate}}</th>
            <th>{{:: 'priority' | translate}}</th>
            <th>{{:: 'provider' | translate}}</th>
            <th colspan="2">{{:: 'publicKeys' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="key in keys">
            <td>{{key.type}}</td>
            <td>{{key.status}}</td>
            <td>{{key.kid}}</td>
            <td>{{key.providerPriority}}</td>
            <td><a href="#/realms/{{realm.realm}}/keys/providers/{{key.provider.providerId}}/{{key.provider.id}}">{{key.provider.name}}</a></td>

            <td data-ng-show="key.type === 'RSA'" class="kc-action-cell" data-ng-click="viewKey(key.publicKey)">{{:: 'publicKey' | translate}}</td>
            <td data-ng-show="key.type === 'RSA'" class="kc-action-cell" data-ng-click="viewKey(key.certificate)">{{:: 'certificate' | translate}}</td>

            <td data-ng-show="key.type !== 'RSA'" colspan="2"></td>
        </tr>
        </tbody>
    </table>

</div>

<kc-menu></kc-menu>