<div class="col-sm-12 col-md-12" data-ng-init="initProvider()">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/identity-provider-settings">{{:: 'identity-providers' | translate}}</a></li>
        <li data-ng-show="identityProvider.displayName"><a href="#/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}">{{identityProvider.displayName}}</a></li>
        <li data-ng-show="!identityProvider.displayName"><a href="#/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}">{{identityProvider.alias}}</a></li>
        <li>{{:: 'export' | translate}}</li>
    </ol>

    <kc-tabs-identity-provider></kc-tabs-identity-provider>

    <form class="form-horizontal" name="realmForm" novalidate>
        <fieldset class="border-top">
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-primary" data-ng-click="download()" type="submit">{{:: 'download' | translate}}</a>
                    <textarea class="form-control" rows="20" kc-select-action="click">{{exported}}</textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<kc-menu></kc-menu>