<div class="col-sm-12 col-md-12">
    <kc-tabs-realm></kc-tabs-realm>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group">
            <label class="col-md-2 control-label">{{:: 'realm-cache-clear' | translate}}</label>
            <div class="col-md-6">
                <button type="submit" data-ng-click="clearRealmCache()" class="btn btn-default">{{:: 'clear' | translate}}</button>
            </div>

            <kc-tooltip>{{:: 'realm-cache-clear.tooltip' | translate}}</kc-tooltip>
         </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{{:: 'user-cache-clear' | translate}}</label>
            <div class="col-md-6">
                <button type="submit" data-ng-click="clearUserCache()" class="btn btn-default">{{:: 'clear' | translate}}</button>
            </div>
            <kc-tooltip>{{:: 'user-cache-clear.tooltip' | translate}}</kc-tooltip>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{{:: 'keys-cache-clear' | translate}}</label>
            <div class="col-md-6">
                <button type="submit" data-ng-click="clearKeysCache()" class="btn btn-default">{{:: 'clear' | translate}}</button>
            </div>
            <kc-tooltip>{{:: 'keys-cache-clear.tooltip' | translate}}</kc-tooltip>
        </div>
    </form>
</div>

<kc-menu></kc-menu>