<div class="col-sm-12 col-md-12">
    <kc-tabs-realm></kc-tabs-realm>

    <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#/realms/{{realm.realm}}/keys">{{:: 'active' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/keys/list">{{:: 'all' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/keys/providers">{{:: 'providers' | translate}}</a></li>
    </ul>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{:: 'type' | translate}}</th>
            <th>{{:: 'kid' | translate}}</th>
            <th>{{:: 'provider' | translate}}</th>
            <th colspan="2">{{:: 'publicKeys' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="key in active">
            <td>{{key.type}}</td>
            <td>{{key.kid}}</td>
            <td><a href="#/realms/{{realm.realm}}/keys/providers/{{key.provider.providerId}}/{{key.provider.id}}">{{key.provider.name}}</a></td>

            <td data-ng-show="key.type === 'RSA'" class="kc-action-cell" data-ng-click="viewKey(key.publicKey)">{{:: 'publicKey' | translate}}</td>
            <td data-ng-show="key.type === 'RSA'" class="kc-action-cell" data-ng-click="viewKey(key.certificate)">{{:: 'certificate' | translate}}</td>

            <td data-ng-show="key.type !== 'RSA'" colspan="2"></td>
        </tr>
        </tbody>
    </table>

</div>

<kc-menu></kc-menu>