<div class="col-sm-12 col-md-12">
    <h1>Roles</h1>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#/realms/{{realm.realm}}/roles">{{:: 'realm-roles' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/default-roles">{{:: 'default-roles' | translate}}</a></li>
    </ul>

    <table class="datatable table table-striped table-bordered dataTable no-footer">
        <thead>
            <tr>
                <th class="kc-table-actions" colspan="5">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="{{:: 'search.placeholder' | translate}}" data-ng-model="searchQuery" class="form-control search" onkeyup="if (event.keyCode === 13){$(this).next('I').click(); }">
                                <div class="input-group-addon">
                                    <i class="fa fa-search" type="submit"></i>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right" data-ng-show="access.manageRealm">
                            <a id="createRole" class="btn btn-default" href="#/create/role/{{realm.realm}}">{{:: 'add-role' | translate}}</a>
                        </div>
                    </div>
                </th>
            </tr>
            <tr data-ng-show="roles && roles.length > 0">
                <th>{{:: 'role-name' | translate}}</th>
                <th>{{:: 'composite' | translate}}</th>
                <th>{{:: 'description' | translate}}</th>
                <th colspan="2">{{:: 'actions' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="role in roles| filter:{name: searchQuery} | orderBy:'name'| startFrom:(currentPage - 1) * pageSize | limitTo:pageSize">
                <td><a href="#/realms/{{realm.realm}}/roles/{{role.id}}">{{role.name}}</a></td>
                <td translate="{{role.composite}}"></td>
                <td>{{role.description}}</td>
                <td class="kc-action-cell" kc-open="/realms/{{realm.realm}}/roles/{{role.id}}">{{:: 'edit' | translate}}</td>
                <td class="kc-action-cell" data-ng-click="removeRole(role)">{{:: 'delete' | translate}}</td>
            </tr>
            <tr data-ng-show="(roles | filter:{name: searchQuery}).length == 0">
                <td class="text-muted" colspan="4" data-ng-show="searchQuery">{{:: 'no-results' | translate}}</td>
                <td class="text-muted" colspan="4" data-ng-hide="searchQuery">{{:: 'no-realm-roles-available' | translate}}</td>
            </tr>
        </tbody>
    </table>
    <kc-paging current-page='currentPage' number-of-pages='numberOfPages' current-page-input='currentPageInput'></kc-paging>
</div>

<kc-menu></kc-menu>