<div class="col-sm-12 col-md-12">
    <h1>
        {{:: 'server-info' | translate}}
        <i id="serverInfoReload" class="pficon  pficon-restart clickable" data-ng-click="serverInfoReload()"></i>
    </h1>

    <ul class="nav nav-tabs">
        <li><a href="#/server-info">{{:: 'info' | translate}}</a></li>
        <li class="active"><a href="#/server-info/providers">{{:: 'providers' | translate}}</a></li>
    </ul>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="kc-table-actions" colspan="5">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="{{:: 'search.placeholder' | translate}}" data-ng-model="search" class="form-control search" onkeyup="if(event.keyCode == 13){$(this).next('I').click();}">
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th width="20%">{{:: 'spi' | translate}}</th>
            <th>{{:: 'providers' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="spi in (providers | filter:search)">
            <td>{{spi.name}}</td>
            <td>
                <div data-ng-repeat="(providerName, provider) in spi.providers">
                    {{providerName}}
                    <span ng-show="provider.operationalInfo">
                        <button type="button" class="btn btn-default btn-xs" ng-click="collapseRep = !collapseRep">
                            <span class="glyphicon glyphicon-plus" data-ng-show="!collapseRep"></span>
                            <span class="glyphicon glyphicon-minus" data-ng-show="collapseRep"></span>
                        </button>
                        <table ng-show="collapseRep" class="table table-striped table-bordered" style="margin-top: 0px;">
                            <tr ng-repeat="(key, value) in provider.operationalInfo">
                                <td width="20%">{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                    </span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<kc-menu></kc-menu>