<div class="col-sm-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/user-federation">{{:: 'user-federation' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/user-storage/providers/ldap/{{provider.id}}">{{provider.providerId|capitalize}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/ldap-mappers/{{provider.id}}">{{:: 'ldap-mappers' | translate}}</a></li>
        <li class="active" data-ng-show="create">{{:: 'create-ldap-mapper' | translate}}</li>
        <li class="active" data-ng-hide="create">{{mapper.name}}</li>
    </ol>

    <h1 data-ng-hide="create">{{mapper.name|capitalize}}<i class="pficon pficon-delete clickable" data-ng-show="!create && access.manageRealm" 
    	data-ng-hide="changed" data-ng-click="remove()"></i></h1>
    <h1 data-ng-show="create">{{:: 'add-user-federation-mapper' | translate}}</h1>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <fieldset>
            <div class="form-group clearfix" data-ng-show="!create">
                <label class="col-md-2 control-label" for="mapperId">{{:: 'id' | translate}} </label>
                <div class="col-md-6">
                    <input class="form-control" id="mapperId" type="text" ng-model="mapper.id" readonly>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="name">{{:: 'name' | translate}} <span class="required">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" id="name" type="text" ng-model="mapper.name" data-ng-readonly="!create" required>
                </div>
                <kc-tooltip>{{:: 'mapper.name.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group" data-ng-show="create">
                <label class="col-md-2 control-label" for="mapperTypeCreate">{{:: 'mapper-type' | translate}}</label>
                <div class="col-sm-6">
                    <div>
                        <select class="form-control" id="mapperTypeCreate"
                                ng-model="mapperType"
                                ng-options="mapperType.id for mapperType in mapperTypes">
                        </select>
                    </div>
                </div>
                <kc-tooltip>{{mapperType.helpText}}</kc-tooltip>
            </div>
            <div class="form-group clearfix" data-ng-hide="create">
                <label class="col-md-2 control-label" for="mapperType">{{:: 'mapper-type' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="mapperType" type="text" ng-model="mapperType.id" data-ng-readonly="true">
                </div>
                <kc-tooltip>{{mapperType.helpText}}</kc-tooltip>
            </div>

            <kc-component-config realm="realm" clients="clients" config="mapper.config" properties="mapperType.properties"></kc-component-config>

        </fieldset>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="access.manageRealm">
                <button kc-save  data-ng-disabled="!changed">Save</button>
                <button kc-reset data-ng-disabled="!changed">Cancel</button>
                <button class="btn btn-primary" data-ng-click="triggerFedToKeycloakSync()" data-ng-hide="create || !mapperType.metadata.fedToKeycloakSyncSupported" data-ng-disabled="changed">{{:: mapperType.metadata.fedToKeycloakSyncMessage | translate}}</button>
                <button class="btn btn-primary" data-ng-click="triggerKeycloakToFedSync()" data-ng-hide="create || !mapperType.metadata.keycloakToFedSyncSupported" data-ng-disabled="changed">{{:: mapperType.metadata.keycloakToFedSyncMessage | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>