<div class="col-sm-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/users">{{:: 'users' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/users/{{user.id}}">{{user.username}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/users/{{user.id}}/consents">{{:: 'consents' | translate}}</a></li>
        <li>{{client.clientId}}</li>
    </ol>

    <kc-tabs-user></kc-tabs-user>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{:: 'ip-address' | translate}}</th>
            <th>{{:: 'started' | translate}}</th>
            <th>{{:: 'last-refresh' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="session in offlineSessions">
            <td>{{session.ipAddress}}</td>
            <td>{{session.start | date:'medium'}}</td>
            <td>{{session.lastAccess | date:'medium'}}</td>
        </tr>
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button kc-cancel data-ng-click="cancel()">{{:: 'back' | translate}}</button>
        </div>
    </div>
</div>

<kc-menu></kc-menu>