    <div class="col-sm-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/users">{{:: 'users' | translate}}</a></li>
        <li>{{user.username}}</li>
    </ol>

    <kc-tabs-user></kc-tabs-user>

    <table class="table table-striped table-bordered">
        <thead>
        <tr data-ng-show="user.access.manage">
            <th class="kc-table-actions" colspan="6">
                <div class="pull-right" data-ng-show="user.access.manage">
                    <a id="logoutAllSessions" class="btn btn-default" ng-click="logoutAll()">{{:: 'logout-all-sessions' | translate}}</a>
                </div>
            </th>
        </tr>
        <tr>
            <th>{{:: 'ip-address' | translate}}</th>
            <th>{{:: 'started' | translate}}</th>
            <th>{{:: 'last-access' | translate}}</th>
            <th>{{:: 'clients' | translate}}</th>
            <th data-ng-show="user.access.manage">{{:: 'action' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="session in sessions">
            <td>{{session.ipAddress}}</td>
            <td>{{session.start | date:'medium'}}</td>
            <td>{{session.lastAccess | date:'medium'}}</td>
            <td>
                <div data-ng-repeat="(id, clientId) in session.clients">
                    <a href="#/realms/{{realm.realm}}/clients/{{id}}">{{clientId}}</a>
                </div>
            </ul>
            </td>
            <td class="kc-action-cell" data-ng-show="user.access.manage" ng-click="logoutSession(session.id)">{{:: 'logout' | translate}}</td>
        </tr>
        </tbody>
    </table>
</div>

<kc-menu></kc-menu>
