<div class="col-sm-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/users">{{:: 'users' | translate}}</a></li>
        <li>{{user.username}}</li>
    </ol>

    <kc-tabs-user></kc-tabs-user>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{:: 'client' | translate}}</th>
            <th>{{:: 'granted-roles' | translate}}</th>
            <th>{{:: 'granted-protocol-mappers' | translate}}</th>
            <th>{{:: 'additional-grants' | translate}}</th>
            <th>{{:: 'consent-created-date' | translate}}</th>
            <th>{{:: 'consent-last-updated-date' | translate}}</th>
            <th>{{:: 'action' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="consent in userConsents">
            <td>{{consent.clientId}}</td>
            <td>
                <span data-ng-repeat="realmRole in consent.grantedRealmRoles">
                    <span ng-if="!$first">, </span>{{realmRole}}
                </span>
                <span data-ng-repeat="(clientId, clientRoles) in consent.grantedClientRoles">
                    <span data-ng-repeat="clientRole in clientRoles">
                        <span ng-if="!$first || consent.grantedRealmRoles.length > 0">, </span>{{clientRole}} in {{clientId}}
                    </span>
                </span>
            </td>
            <td>
                <span data-ng-repeat="protocol in consent.grantedProtocolMappers">
                    <span data-ng-repeat="protocolMapper in protocol">
                        <span ng-if="!$first">, </span>{{protocolMapper}}
                    </span>
                </span>
            </td>
            <td>
                <span data-ng-repeat="additionalGrant in consent.additionalGrants">
                    <span ng-if="!$first">, </span><a href="#/realms/{{realm.realm}}/users/{{user.id}}/offline-sessions/{{additionalGrant.client}}">{{additionalGrant.key}}</a>
                </span>
            </td>
            <td>{{consent.createdDate | date :'short'}}</td>
            <td>{{consent.lastUpdatedDate | date :'short'}}</td>
            <td class="kc-action-cell" ng-click="revokeConsent(consent.clientId)">{{:: 'revoke' | translate}}</td>
        </tr>
        </tbody>
    </table>
</div>

<kc-menu></kc-menu>