<div class="col-sm-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/groups">{{:: 'groups' | translate}}</a></li>
        <li>{{group.name}}</li>
    </ol>

    <kc-tabs-group></kc-tabs-group>

    <form class=form-horizontal" name="enableForm" novalidate kc-read-only="!group.access.manage || !access.manageAuthorization">
        <fieldset class="border-top">
        <div class="form-group">
            <label class="col-md-2 control-label" for="permissionsEnabled">{{:: 'permissions-enabled-role' | translate}}</label>
            <div class="col-md-6">
                <input ng-model="permissions.enabled" name="permissionsEnabled" id="permissionsEnabled" ng-disabled="!access.manageAuthorization" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}"/>
            </div>
            <kc-tooltip>{{:: 'permissions-enabled-role.tooltip' | translate}}</kc-tooltip>
        </div>
        </fieldset>
    </form>
    <table class="datatable table table-striped table-bordered dataTable no-footer" data-ng-show="permissions.enabled">
        <thead>
        <tr>
            <th>{{:: 'scope-name' | translate}}</th>
            <th>{{:: 'description' | translate}}</th>
            <th colspan="2">{{:: 'actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(scopeName, scopeId) in permissions.scopePermissions">
            <td><a href="#/realms/{{realm.realm}}/clients/{{realmManagementClientId}}/authz/resource-server/permission/scope/{{scopeId}}">{{scopeName}}</a></td>
            <td translate="{{scopeName}}-authz-group-scope-description"></td>
            <td class="kc-action-cell" kc-open="/realms/{{realm.realm}}/clients/{{realmManagementClientId}}/authz/resource-server/permission/scope/{{scopeId}}">{{:: 'edit' | translate}}</td>
        </tr>
        </tbody>
    </table>

</div>

<kc-menu></kc-menu>